*.iml
.gradle
.DS_Store
**/build
/captures
.externalNativeBuild
.cxx
local.properties
key.properties

# User-specific configurations
.idea/**

# Crashlytics configuations
com_crashlytics_export_strings.xml

# Signing files
.signing/

# Built application files
*.apk
*.aar
*.ap_
*.aab

# signature
*.pem
/app/production_transition/release/output-metadata.json
/app/production/release/output-metadata.json
/app/uat_transition/release/output-metadata.json
/app/uat/release/output-metadata.json
/app/development_transition/release/output-metadata.json
/app/development/release/output-metadata.json
